a:hover{
    background-color:violet;
    color:white;
}
p::first-line{
    color:brown;
    font-size: 25px; 
}
p[align]{
    background-color: aqua;
}
img[title=css]{
    border:50px solid blue;
    
}  